*{
    padding: 0;
    margin: 0;
}

.Cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 200, 230);
    font-size: 12px;
    height: 125px;
    width: 100vw;
}

.Primer{
    padding-left: 12px;
    font-size: 42px;
    color: white;
}

.Fecha{
    padding-right: 12px;
    font-size: 22px;
}

.Congreso{
    padding-right: 12px;
}

.Navegador{
    background-color: rgb(194, 168, 192);
    height: 68px;
    width: 100vw;
}

.Navegador ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100vw;
    height: 100%;
    align-items: center;
}
.Navegador ul li{
    background-color: rgb(162, 16, 206);
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
}
.Navegador ul a{
    color: white;
    text-decoration: none;
    text-align: center;
}

main{
    background-color: rgb(233, 200, 230);
    min-height: 645px;
    padding-top: 20px;
    width: 100vw;
}

main article{
    background-color: white;
    height: 180px;
    width: 780px;
    margin-left: 185px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
}
.Programacion{
    height: 300px;
}

main article header{
    border-bottom: 4px solid rgb(225, 126, 250);
    height: 30px;
    padding-top: 10px;
}
main article p{
    margin-top: 30px;
}

footer{
    display: flex;
    background-color: rgb(172, 105, 166);
    min-height: 101px;
    width: 100vw;
}
footer figure{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}
.fig{
    margin-left: 45vw;
}
footer figure span{
    font-size: 25px;
    align-self: center;
}
footer img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}
.cult{
    width: 200px;
}

li{
    list-style-type: none;
}

@media only screen and (max-width:338px){
    .Primer{
        font-size: 22px;
        padding-left: 0;
    }

    .Cabezera{
        font-size: 8px;
        width: 380vw;
    }

    .Fecha{
        font-size: 8px;
        padding-right: 0;
    }
    .Navegador{
        width: 380vw;
    }
    .Navegador ul{
        width: 380vw;
    }
    .Navegador ul li{
        width: 80px;
    }
    main{
        width: 380vw;
        height: 350vh;
    }
    footer{
        width: 380vw;
        height: 20vh;
    }

    main article{
        height: 320px;
        width: 320px;
        margin-left: 10px;
        margin-top: 600px;
    }
    .Programacion{
        height: 700px;
    }
}

@media only screen and (max-width: 480px) and (min-width:338px){
    .Primer{
        font-size: 22px;
        padding-left: 0;
    }

    .Cabezera{
        font-size: 8px;
        width: 280vw;
    }

    .Fecha{
        font-size: 8px;
        padding-right: 0;
    }
    .Navegador{
        width: 280vw;
    }
    .Navegador ul{
        width: 280vw;
    }
    .Navegador ul li{
        width: 80px;
    }
    main{
        height: 240vh;
        width: 280vw;
    }
    footer{
        width: 280vw;
        height: 20vh;
    }

    main article{
        height: 380px;
        width: 280px;
        margin-left: 10px;
        margin-top: 300px;
    }
    .Programacion{
        height: 500px;
    }
}

@media only screen and (max-width: 720px) and (min-width: 480px){
    .Primer{
        font-size: 22px;
        padding-left: 0;
    }

    .Cabezera{
        font-size: 8px;
        width: 220vw;
    }

    .Fecha{
        font-size: 8px;
        padding-right: 0;
    }
    .Navegador{
        width: 220vw;
    }
    .Navegador ul{
        width: 220vw;
    }
    .Navegador ul li{
        width: 150px;
    }
    main{
        width: 220vw;
        height: 180vh;
    }
    footer{
        width: 220vw;
        height: 20vh;
    }

    main article{
        height: 450px;
        width: 380px;
        margin-left: 10px;
        margin-top: 150px;
    }
    .Programacion{
        height: 460px;
    }
}

@media only screen and (min-width: 720px){
    .Cabezera{
        width: 140vw;
    }

    .Primer{
        font-size: 24px;
        padding-left: 6px;
    }

    .Cabezera{
        font-size: 10px;
    }

    .Fecha{
        font-size: 13px;
        padding-right: 6px;
    }
    
    .Navegador{
        font-size: 12px;
        width: 140vw;
    }
    .Navegador ul{
        width: 140vw;
    }
    .Navegador ul li{
        width: 200px;
    }

    main{
        height: 120vh;
        width: 140vw;
    }
    main article{
        height: 300px;
        width: 600px;
        margin-left: 30px;
        margin-top: 100px;
    }
    .Programacion{
        height: 400px;
    }
    footer{
        height: 20.9vh;
        width: 140vw;
    }
    footer figure{
        display: flex;
        flex-direction: row;
        margin-left: 25px;
    }
    .fig{
        margin-left: 40vw;
    }
    footer figure span{
        font-size: 20px;
        align-self: center;
        margin-bottom: 90px;
    }
}