*{
    padding: 0;
    margin: 0;
}

.Cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 200, 230);
    font-size: 12px;
    height: 125px;
    width: 100vw;
}

.Primer{
    padding-left: 12px;
    font-size: 42px;
    color: white;
}

.Fecha{
    padding-right: 12px;
    font-size: 22px;
}

.Congreso{
    padding-right: 12px;
}

.Navegador{
    background-color: rgb(194, 168, 192);
    height: 68px;
    width: 100vw;
}

.Navegador ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100vw;
    height: 100%;
    align-items: center;
}
.Navegador ul li{
    background-color: rgb(206, 16, 206);
    width: 150px;
    height: 68px;
    line-height: 60px;
}
.Navegador ul a{
    color: white;
    text-decoration: none;
    text-align: center;
}

main{
    background-color: rgb(233, 200, 230);
    min-height: 645px;
}

footer{
    background-color: rgb(136, 41, 136);
    min-height: 101px;
}

@media only screen and (max-width: 430px){
    main{
        width: 200vw;
    }
    footer{
        height: 19.5vh;
        width: 150vw;
    }
}

@media only screen and (max-width: 600px) {
    .Primer{
        font-size: 16px;
        padding-left: 0;
    }

    .Cabezera{
        font-size: 4px;
    }

    .Fecha{
        font-size: 8px;
        padding-right: 0;
    }
}

@media only screen and (max-width: 980px){
    .Cabezera{
        width: 110vw;
    }

    .Primer{
        font-size: 24px;
        padding-left: 6px;
    }

    .Cabezera{
        font-size: 10px;
    }

    .Fecha{
        font-size: 13px;
        padding-right: 6px;
    }
    
    .Navegador{
        font-size: 12px;
        width: 110vw;
    }
    .Navegador ul{
        width: 110vw;
    }
    .Navegador ul li{
        width: 80px;
    }

    main{
        height: 80vh;
        width: 110vw;
    }
    footer{
        height: 20.9vh;
        width: 110vw;
    }
}